/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.shorten-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shorten-form input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.shorten-form input[type="submit"] {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
